<!--View associated to updateAdvert action of UserDashboardController controller -->

{% block update_advert_block %}



<div class="section">

    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <div class="notification is-success">
                    <h1 class="title">Update your advert</h1>
                </div>

                {% if vio or success %}
                <article class="message {{ vio ? 'is-danger' : 'is-link' }}">
                    <div class="message-header">
                        <p>{{ vio ? 'Incorrect data fields:' : 'You have successfully updated your advert.' }}</p>
                    </div>
                    
                    {% if vio %}
                        <div class="message-body">
                            
                            {% for i in vio %}
                                <p>{{i}}</p>
                            {% endfor %}

                        </div>
                    {% endif %}
                    
                </article>
                {% endif %}

                <form action="/update/{{advert.id}}" method="post" enctype="multipart/form-data">
                    <div class="field">
                        <label for="title" class="label is-medium">Title*</label>
                        <div class="control">
                            <input value="{{advert.title}}" id="title" name="title" class="input is-medium" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="field">
                        <label for="body" class="label is-medium">Description</label>
                        <div class="control">
                            <textarea id="body" name="body" class="textarea is-medium"
                                placeholder="Write a description">{{advert.body}}</textarea>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label for="image">Upload image cover:</label>
                        <br>
                        <input id="image" name="image" type="file" accept=".jpg, .jpeg, .png, .webp">
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" id="submit" class="is-medium button is-success">Submit</button>
                        </div>
                    </div>
                </form>
                <br>
                <br>
            </div>
        </div>
    </div>

</div>

<script>
    window.addEventListener('load', function () {
        $('form').on('click', '#submit', function (event) {
            event.preventDefault();
            
            $(event.target).addClass('is-loading');
            var form = this.form;
            var formData = new FormData(form);

            $.ajax({
                type: 'POST',
                url: this.form.action,
                data: formData,
                processData: false,
                contentType: false
            }).done(function (data) {
                $(event.target).removeClass('is-loading');
                var msg = JSON.parse(data);

                if (msg['error_msg'].length > 0) {
                    var arr_p = '';
                    msg['error_msg'].forEach(m => {
                        arr_p += '<p>'+m+'</p>';
                    });
                    $('#message_info').remove();
                    $('#message_success').remove();
                    $('.column.is-three-fifths').append('<article id="message_info" class="message is-danger"><div class="message-header"><p>Incorrect data fields:</p></div><div class="message-body"></div> </article>');
                    $('#message_info > .message-body').append(arr_p);
                } else {
                    $('#message_info').remove();
                    $('#message_success').remove();
                    $('.column.is-three-fifths').append('<article id="message_success" class="message is-link"><div class="message-header"><p>You have successfully updated your advert.</p></div><div class="message-body"><p>You have updated advert:</p></div> </article>');
                    $('#message_success > .message-body').append('<p><strong>'+form.title.value+'</strong></p>');
                }
            });
        });
    })
</script>

{% endblock %}