<!--View associated to updateAdvert action of UserDashboardController controller -->

{% block update_advert_block %}



<div class="section">

    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <div class="notification is-success">
                    <h1 class="title">Update your advert</h1>
                </div>

                {% if vio or success %}
                <article class="message {{ vio ? 'is-danger' : 'is-link' }}">
                    <div class="message-header">
                        <p>{{ vio ? 'Incorrect data fields:' : 'You have successfully updated your advert.' }}</p>
                    </div>
                    
                    {% if vio %}
                        <div class="message-body">
                            
                            {% for i in vio %}
                                <p>{{i}}</p>
                            {% endfor %}

                        </div>
                    {% endif %}
                    
                </article>
                {% endif %}

                <form action="/update/{{advert.id}}" method="post" enctype="multipart/form-data">
                    <div class="field">
                        <label for="title" class="label is-medium">Title*</label>
                        <div class="control">
                            <input value="{{advert.title}}" id="title" name="title" class="input is-medium" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="field">
                        <label for="body" class="label is-medium">Description</label>
                        <div class="control">
                            <textarea id="body" name="body" class="textarea is-medium"
                                placeholder="Write a description">{{advert.body}}</textarea>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label for="image">Upload image cover:</label>
                        <br>
                        <input id="image" name="image" type="file" accept=".jpg, .jpeg, .png">
                    </div>

                    <div class="field">
                        <div class="control">
                            <input type="submit" class="is-medium button is-success" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}