<!--View associated to userDashboard action of UserDashboardController controller -->

{% block user_dashboard_block %}
<div class="section">
    <h1 class="title">Dashboard</h1>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <a href="/add" class="button is-link">Add Advert</a>
                <table class="table is-fullwidth is-hoverable">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Title</th>
                            <th>Managment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ad in ads %}
                        <tr>
                            <th>{{loop.index}}</th>
                            <td><a href="/view/{{ad.id}}">{{ ad.title[0:75] }}</a></td>
                            <td>
                                <a class="button is-success" href="/update/{{ad.id}}">Edit</a>
                                <a class="button is-danger btn_ajax_post_remove" id="{{ad.id}}" href="/remove/{{ad.id}}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function () {
        $('body').on('click', 'a.button.is-danger.btn_ajax_post_remove', function (event) {
            event.preventDefault();
            $(event.target).addClass('is-loading');
            $.get('/remove/'+event.target.id, function (data) {
                $(event.target.parentElement.parentElement).remove();
            });
        });
    })
</script>

{% endblock %}