<!--View associated to signUp action of SignUpUserController controller -->


{% block form_signup_block %}

<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <div class="notification is-success">
                    <h2 class="title">Sign up</h2>
                </div>

                {% if vio or success %}
                <article class="message {{ vio is empty ? 'is-link' : 'is-danger' }}">
                    <div class="message-header">
                        <p>{{ vio ? 'Incorrect data fields:' : 'Thank you for registering' }}</p>
                    </div>
                    <div class="message-body">

                        {% if success %}
                        <p>You can now log in. For log in to enter, use the link below or check back later.</p>
                        <br>
                        <a href="/login">Log in</a>
                        {% endif %}

                        {% for i in vio %}
                        <p>{{i}}</p>
                        {% endfor %}

                    </div>
                </article>
                {% endif %}

                <form action="/signup" method="post" id="signup_form">
                    <div class="field">
                        <label for="name" class="label is-medium">Name*</label>
                        <div class="control">
                            <input id="name" name="name" class="input is-medium" type="text" placeholder="Name">
                            <p class="help is-danger"></p>
                        </div>
                    </div>

                    <div class="field">
                        <label for="lastname" class="label is-medium">Lastname*</label>
                        <div class="control">
                            <input id="lastname" name="lastname" class="input is-medium" type="text"
                                placeholder="Lastname">
                            <p class="help is-danger"></p>
                        </div>
                    </div>

                    <div class="field">
                        <label for="email" class="label is-medium">Email*</label>
                        <div class="control">
                            <input id="email" name="email" class="input is-medium" type="email"
                                placeholder="Your Email">
                            <p class="help is-danger"></p>
                        </div>
                    </div>

                    <div class="field">
                        <label for="phone" class="label is-medium">Phone*</label>
                        <div class="control">
                            <input id="phone" name="phone" class="input is-medium" type="text" placeholder="Phone">
                            <p class="help is-danger"></p>
                        </div>
                    </div>

                    <div class="field">
                        <label for="password" class="label is-medium">Password*</label>
                        <div class="control">
                            <input id="password" name="password" class="input is-medium" type="password" placeholder="Password">
                            <p class="help is-danger"></p>
                        </div>
                    </div>

                    <div class="field">
                        <label for="confirm" class="label is-medium">Confirm password*</label>
                        <div class="control">
                            <input id="confirm" name="confirm" class="input is-medium" type="password"
                                placeholder="Confirm password">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button id="submit" class="button is-medium button is-success">Submit</button>
                        </div>
                    </div>
                </form>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function () {
        $('form').on('click', '#submit', function (event) {
            event.preventDefault();
            console.log($('#signup_form').serialize());
            $(event.target).addClass('is-loading');
            $.post('/signup', $('#signup_form').serialize(), function (data) {
                $(event.target).removeClass('is-loading');
                console.log(data);
                var msg = JSON.parse(data);
                console.log(msg);
                var msg_info_error = {
                    email: '',
                    name: '',
                    lastname: '',
                    password: '',
                    phone: ''
                };
                if (msg['error_msg'].length > 0) {
                    msg['error_msg'].forEach(m => {
                        Object.keys(msg_info_error).forEach(k => {
                            if (m.search(new RegExp('\\b' + k + '\\b', 'g')) >= 0)
                                msg_info_error[k] = m;
                        });
                    });
                    $('#message_success').remove();
                } else {
                    console.log(msg['success_msg']);
                    $('.column.is-three-fifths').append('<article id="message_success" class="message is-link"><div class="message-header"><p>Thank you for registering</p></div><div class="message-body"><p>You can now log in. For log in to enter, use the link below or check back later.</p> <br> <a href="/login">Log in</a></div> </article>');    
                }
                Object.keys(msg_info_error).forEach(k => {
                    var node = $('#'+k)[0].nextElementSibling;
                    $(node).text(msg_info_error[k]);
                });
            });
        });
    })
</script>

{% endblock %}