<!--View associated to signUp action of SignUpUserController controller -->


{% block form_signup_block %}

<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <div class="notification is-success">
                    <h2 class="title">Sign up</h2>
                </div>

                {% if vio or success %}
                <article class="message {{ vio is empty ? 'is-link' : 'is-danger' }}">
                    <div class="message-header">
                        <p>{{ vio ? 'Incorrect data fields:' : 'Thank you for registering' }}</p>
                    </div>
                    <div class="message-body">

                        {% if success %}
                        <p>You can now log in. For log in to enter, use the link below or check back later.</p>
                        <br>
                        <a href="/login">Log in</a>
                        {% endif %}

                        {% for i in vio %}
                        <p>{{i}}</p>
                        {% endfor %}

                    </div>
                </article>
                {% endif %}

                <form action="/signup" method="post" id="signup_form">
                    <div class="field">
                        <label for="name" class="label is-medium">Name*</label>
                        <div class="control">
                            <input id="name" name="name" class="input is-medium" type="text" placeholder="Name">
                        </div>
                    </div>

                    <div class="field">
                        <label for="lastname" class="label is-medium">Lastname*</label>
                        <div class="control">
                            <input id="lastname" name="lastname" class="input is-medium" type="text"
                                placeholder="Lastname">
                        </div>
                    </div>

                    <div class="field">
                        <label for="email" class="label is-medium">Email*</label>
                        <div class="control">
                            <input id="email" name="email" class="input is-medium" type="email"
                                placeholder="Your Email">
                        </div>
                    </div>

                    <div class="field">
                        <label for="phone" class="label is-medium">Phone*</label>
                        <div class="control">
                            <input id="phone" name="phone" class="input is-medium" type="text" placeholder="Phone">
                        </div>
                    </div>

                    <div class="field">
                        <label for="password" class="label is-medium">Password*</label>
                        <div class="control">
                            <input id="password" name="password" class="input is-medium" type="password" placeholder="Password">
                        </div>
                    </div>

                    <div class="field">
                        <label for="confirm" class="label is-medium">Confirm password*</label>
                        <div class="control">
                            <input id="confirm" name="confirm" class="input is-medium" type="password"
                                placeholder="Confirm password">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" id="submit" class="button is-medium button is-success">Submit</button>
                        </div>
                    </div>
                </form>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function () {
        $('form').on('click', '#submit', function (event) {
            event.preventDefault();
            $(event.target).addClass('is-loading');
            $.post('/signup', $('#signup_form').serialize(), function (data) {
                $(event.target).removeClass('is-loading');
                var msg = JSON.parse(data);
                if (msg['error_msg'].length > 0) {
                    var arr_p = '';
                    msg['error_msg'].forEach(m => {
                        arr_p += '<p>'+m+'</p>';
                    });
                    $('#message_info').remove();
                    $('#message_success').remove();
                    $('.column.is-three-fifths').append('<article id="message_info" class="message is-danger"><div class="message-header"><p>Incorrect data fields:</p></div><div class="message-body"></div> </article>');
                    $('#message_info > .message-body').append(arr_p);
                } else {
                    $('#message_info').remove();
                    $('#message_success').remove();
                    $('.column.is-three-fifths').append('<article id="message_success" class="message is-link"><div class="message-header"><p>Thank you for registering</p></div><div class="message-body"><p>You can now log in. For log in to enter, use the link below or check back later.</p> <br> <a href="/login">Log in</a></div> </article>');    
                }
            });
        });
    })
</script>

{% endblock %}